/**
 * Базовые стили для всего сайта
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.navbar {
    width: 100%;
    height: 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    position: relative;
    width: 500px;
    height: 410px;
    margin: 30px 30px 30px auto;
}

.navbar .logo img {
    float: left;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -155px;
    margin-top: -75px;
}

.navbar-menu {
    list-style: none;
    padding-left: 0;
    padding-bottom: 0;
}

.navbar-menu li {
    display: inline-block;
}

.navbar-menu li a {
    display: inline-block;
}

.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
}